@page "/portfolio"

@using PortfolioVisualizer.Data

@inject PortfolioManagerService PortfolioManager;
@inject StockTickListenerService StockTickListener;

<h1>Portfolio</h1>

@if (PortfolioManager.Holdings.Count == 0)
{
	<p><em>Loading...</em></p>
}
else
{

	<table class="table">
		<thead>
			<tr>
				<th>Stock</th>
				<th>Average Price</th>
				<th>Quantity</th>
				<th>Gain</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var holding in PortfolioManager.Holdings)
			{
				<tr>
					<td>@holding.Ticker</td>
					<td>@holding.AveragePrice</td>
					<td>@holding.Quantity</td>
					<td>@holding.Gain</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private void OnStockTickReceived(StockData data)
	{
		PortfolioManager.OnStockTickReceived(data);
		StateHasChanged();
	}

    protected async override void OnInitialized()
    {
        StockTickListener.StockTickReceived += OnStockTickReceived;
        await StockTickListener.Listen();
    }
}
