@page "/fetchdata"

@using PortfolioVisualizer.Data
@inject StockTickListenerService StockTickListener

<h1>Portfolio</h1>

<p>Know Your Portfolio</p>

@if (stockData.Count == 0)
{
	<p><em>Loading...</em></p>
}
else
{

	<table class="table">
		<thead>
			<tr>
				<th>Stock</th>
				<th>LTP</th>
			</tr>
		</thead>
		<tbody>
			@functions{
			void OnStockTickReceived(StockData data)
			{
				if(stockData.ContainsKey(data.TickerName))
				{
					if (data.LTP > stockData[data.TickerName].Key)
					{
						stockData[data.TickerName] = new KeyValuePair<uint,Color>(data.LTP,Colors.Green);
					}
					else if (data.LTP < stockData[data.TickerName].Key)
					{
						stockData[data.TickerName] = new KeyValuePair<uint, Color>(data.LTP, Colors.Red);
					}
				}
				else
				{
					stockData.Add(data.TickerName, new KeyValuePair<uint, Color>(data.LTP, Colors.White));
				}
				StateHasChanged();
			}
			}

			@foreach (var tick in stockData)
			{
			<tr>
				<td>@tick.Key</td>
				<td style="@Getstyle(tick.Value.Value)">@tick.Value.Key</td>
			</tr>
			}
		</tbody>
	</table>
}

@code {
	private IDictionary<string, KeyValuePair<uint, Color>> stockData = new Dictionary<string, KeyValuePair<uint, Color>>();


	string Getstyle(Color color)
	{
		if (color == Colors.Red)
			return "background-color:red;";
		else if (color == Colors.Green)
			return "background-color:green;";
		return "background-color:white;";
	}

	protected override async Task OnInitializedAsync()
	{
		StockTickListener.StockTickReceived += OnStockTickReceived;
		await StockTickListener.Listen();
	}

}
